*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main{
    height: 70%;
    /* border: 1px solid red; */
    margin-top: 15px;
    /* background-color: rgb(179, 202, 225); */
}
.header{
    background-color: #7c77e4;
}

.main h3{
    text-align: center;
}
.details{
    /* height: 100px; */
    /* border: 1px solid red; */
    margin-top: 20px;
}
.error{
    display: none;
    background-color: #96b3d3;
}
.chart{
    /* border: 1px solid green; */
    /* height: 380px; */
    display: none;
    background-color: rgb(179, 202, 225);

}
.btn{
    
    margin: 10px 0px 10px 0px;
}
.table-border{
    border: 2px solid black;
}
.table_container{
    margin-top: 20px;
    display: none;
}
/* .headStart{
    text-align: end;
} */
